<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <style type="text/css">
        .form-group .ingredients{
            padding-top: 7px;
        }
        .form-group .ingredients .label{
            margin-right: 5px;
            font-size: 100%;
        }
    </style>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
<div class = "container">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="recipe" class="col-sm-2 control-label">요리 이름</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="recipe" placeholder="요리 이름">
            </div>
        </div>
        <div class="form-group">
            <label for="ingredients" class="col-sm-2 control-label">재료</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="ingredients" placeholder="재료">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">사용할 재료들</label>
            <div id="selectedIngredients" class="col-md-1 ingredients" style="display: -webkit-box;">
            </div>
        </div>

        <div class="form-group">
            <label for="note" class="col-sm-2 control-label">레시피</label>
            <div class="col-sm-10">
                <textarea id="note" class="form-control" rows="20"></textarea>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $('#ingredients').keypress(function(e){
            if(e.which == 13){
                console.log('enter key is pressed.');
//                var re = /\s*, \s*/;
                var re = /[ ,]+/;
                var ingredientStr = $('#ingredients').val();
                var ingredients = ingredientStr.split(re);
                $.each(ingredients, function(index, value){
                    var html = "<span class='label label-info'><span>"+value+"</span><a><i class='remove glyphicon glyphicon-remove-sign glyphicon-white'></i></a></span>";
                    $('#selectedIngredients').append(html);
                });
                $('#selectIngredients').val('');
            }
        });

    });
</script>
</body>
</html>